<div>
  <p>
    Your stomach hurts.
  </p>
  <p>
    You still feel your lost tail in phantom pain.<br>
    You weren't full a single night since the others ate your Sister.<br>
    Shes not caring for you anymore.
  </p>
  <p>
    Your starvation turns to anger.<br>
    But as of now you are no match to no one.<br>
    Not the others. Not the Cat.
  </p>

  <p>
    "Oh yes, there will be blood."
  </p>

  <!-- <p>
        Hätt ich des Himmels reichbestickte Tücher,<br>
        bestickt aus Golden- und aus Silberlicht,<br>
        die dunklen, die blauen und die hellen Tücher,<br>
        aus Nacht, aus Tag und aus der Dämmerung,<br>
        legt ich die Tücher dir zu Füßen.<br>
        Doch ich bin arm und habe nichts als Träume,<br>
        so leg ich meine Träume dir zu Füßen.<br>
        Tritt leise, denn du trittst auf meine Träume.
    </p> -->

  <!-- "We ask only to be reassured about the noises in the cellar and the window that should not have been open." -->

</div>

<main role="main" class="main-content" id="main-content">
  <div class="titleCont">
    <h1 class="main-title" id="main-title">
      "Here, in the forest,<br><span style="padding-left:100px">dark and deep,</span><br><span
        style="padding-right:110px">I offer you,</span><br><span style="padding-left:-20px">eternal sleep."</span>
    </h1>
  </div>
  <canvas id="noise" class="noise"></canvas>
  <div class="vignette"></div>
</main>